@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<div class="container">
  <div class="jumbotron text-center">
    <h2>List of Vendors</h2>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary">
      <a href="/vendors/new">New vendor</a>
    </button>
    <br>
    <br>
    <table class="table">
      <thead>
        <th scope="col">Vendor Name</th>
        <th scope="col">Description</th>
        <th scope="col">Number of Orders</th>
      </thhead>
      <tbody>
        @foreach(Vendor vendor in Model)
        {
          <tr>
            <td><a href="/vendors/@vendor.Id">@vendor.Name</a></td>
            <td>@vendor.Description</td>
            <td>@vendor.Orders.Count</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>