@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<div class="container">
  <div class="jumbotron text-center">
    <h2>New Vendor Form</h2>
  </div>
  <form action="/vendors" method="post">
    <label for="vendorName">Vendor Name:</label><br>
    <input type="text" id="vendorName" name="vendorName" placeholder="Enter Vendor's Name" required><br>
    <label for="description">Vendor Description</label><br>
    <textarea type="text" id="description" rows="5" cols="50" name="description"></textarea><br>
    <button type="submit" class="btn btn-primary">Add New Vendor</button>
  </form>
  <p><a href="/vendors">Back to vendors list</a></p>
  <p><a href="/">Back home</a></p>
</div>