@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Pierre's Bakery</h1>
  </div>
  <div class="text-center">
    <h3>Welcome back Pierre</h3>
    <button type="button" class="btn btn-outline-primary">
      <a href="/vendors">Manage Vendors</a>
    </button>
  </div>
</div>